<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Mitchell</h4>
    <img class="column-img" alt="Me" src="{{ "/assets/img/mitchell.png" | prepend: site.baseurl }}" />
      <p> I grew up in a small town called Lewisporte in central Newfoundland. I am working towards finishing school and becoming a professional electrical engineer. You can keep up with my latest projects and news on this website.</p>
    </div>
    <div class="four columns">
      <h4>School</h4>
      <img class="column-img" alt="university" src="{{ "/assets/img/MUN.jpg" | prepend: site.baseurl }}" />
      <p>I attend Memorial University of Newfoundland and I am currently enrolled in Academic Term 6 of Electrical Engineering, with an expected graduation of April 2021.</p>
    </div>
    <div class="four columns">
      <h4>Work</h4>
    <img class="column-img" alt="job" src="{{ "/assets/img/logos.png" | prepend: site.baseurl }}" />
      <p></p>
      <p>I have been working various jobs since 2012 and my most recent work term was with Curtiss-Wright as a Hardware Design Engineer Co-op.</p>
      <a class="project-link" href="/assets/docs/MitchellStride-Resume.pdf">Resume</a>
    </div>
  </div>
</div>
