<div class="container">
  <div class="user-details">
    <h3> Projects & Extracurricular </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <a href="/WebAssets/SrDesign-Project/"><img alt="project3" src="{{ "/assets/img/901.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> Senior Design Project </h5>
      <p>Creating an SubSea Resident Autonomous Underwater Vechicle (SRAUV)</p>
      <a class="project-link" href="/WebAssets/SrDesign-Project/">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="/Quadcopter"><img alt="project3" src="{{ "/assets/img/quadcopter.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> FPV Racing Quadcopter </h5>
      <p>A custom designed first person view racing quadcopter. The project also includes handmade fpv goggles to serve as a screen for the quadcopter video.</p>
      <a class="project-link" href="/Quadcopter">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <a href="/WebAssets/StudentGroups"><img alt="project3" src="{{ "/assets/img/13.jpg" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> Student Group Highlights </h5>
      <p>Pictures from my time with student groups and extracurriculars.</p>
      <a class="project-link" href="/WebAssets/StudentGroups">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="/WebAssets/PCB-Designs"><img alt="project3" src="{{ "/assets/img/14.jpg" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> 30+ PCB Designs </h5>
      <p>I have designed over 30 custom PCBs for personal projects, work, and teams.</p>
      <a class="project-link" href="/WebAssets/PCB-Designs">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <a href="/WebAssets/Printer-Modding"><img alt="project3" src="{{ "/assets/img/05.jpg" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> 3D Printer Modding / CNC Machining </h5>
      <p>Upgraded my Monoprice Select Mini v2.</p>
      <a class="project-link" href="/WebAssets/Printer-Modding">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="/WebAssets/jrDesign-Project/"><img alt="project3" src="{{ "/assets/img/18.jpg" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> Junior Design Project </h5>
      <p>Fun page of a junior design project I did for a course.</p>
      <a class="project-link" href="/WebAssets/jrDesign-Project/">Check it out</a>
    </div>
  </div>
  </div>
</div>
