<div class="container">
  <div class="user-details">
    <h3> Recent Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="/Quadcopter"><img alt="project3" src="{{ "/assets/img/quadcopter.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> FPV Racing Quadcopter </h5>
      <p>A custom designed first person view racing quadcopter. The project also includes handmade fpv goggles to serve as a screen for the quadcopter video.</p>
      <a class="project-link" href="/Quadcopter">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <a href="/GarageDuino"><img alt="project2" src="{{ "/assets/img/garageduino.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> GarageDuino </h5>
      <p>A garage door opener controlled by a cellphone. Built using an ESP8266 dev board, arduino uno, and a relay.</p>
      <a class="project-link" href="/GarageDuino">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <a href="/DipDuck"><img alt="project1" src="{{ "/assets/img/dipduck.jpeg" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="six columns">
      <h5> DipDuck </h5>
      <ul>
      </ul>
      <p>A small project to make a rubber ducky using an arduino pro micro. A dipswitch is used to select different scripts from storage on a microSD card.</p>
      <a class="project-link" href="/DipDuck">Check it out</a>
    </div>
  </div>
</div>

<a href="[your link here]"><img src="[your link to the image goes here]" /></a>
